.hero-section {
    /*TODO desenhar background parecido*/
    background: url(../../assets/hero-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 93vh;
    flex-direction: column;
}
