@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.modal-container {
    position: absolute;
    width: 36.75rem;
    height: 32.375rem;
    top: 17.5%;
    right: 30%;
    flex-direction: column;
    /*background: linear-gradient(#F5F7F6 -35%, #3525D5 195%); !* FIXME *!*/
    background-color: #DDD;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.15);
    z-index: 3;
    animation: appear 350ms ease-in 1;
}

.close-btn {
    position: absolute;
    top: 0.75rem;
    right: 1.275rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    color: #000000B3;
    text-transform: uppercase;
    font-weight: 700;
}

.close-btn:hover {
    background-color: rgba(0, 0, 0, 0.10);
    border-radius: 0.5rem;
}

.modal-container-inner {
    margin: 1.875rem;
}

.top {
    padding: 3.375rem 0 0 0;
}

.middle-one {
    width: 100%;
    padding: 1.5rem 0;
    margin: 0 0 2.5rem 0;
}

.middle-two {
    width: 100%;
    padding: 6rem 0 3.5rem 0;
    margin: 0 0 2.5rem 0;
}

.middle-three {
    width: 100%;
    padding: 6rem 0 5.438rem 0;
    margin: 0 0 2.5rem 0;
}

.middle-three span {
    font-family: Inter, sans-serif;
    font-size: 1rem;
}

.login-form input {
    width: 93%;
    padding: 0.875rem 1rem;
    border: 1px solid #DDD;
    border-radius: 0.5rem;
    font-family: Inter, sans-serif;
    font-size: 1rem;
}

.login-form__email {
    margin: 0 0 1.5rem 0;
}

.forgot-password {
    margin: 0.5rem 0.25rem;
    color: #6356e5;
    font-family: Inter, sans-serif, sans-serif;
    font-size: 0.938rem;
    text-decoration-line: underline;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 2;
}

.modal-container-inner button {
    color: #FFFFFF;
    background-color: #6356E5;
    padding: 1rem 2rem;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    border-radius: 0.5rem;
    border-color: transparent;
    cursor: pointer;
}

.modal-container-inner button:hover {
    opacity: 0.8;
}

.modal-container-inner button:active {
    transform: translateY(0.063rem);
}

.hidden {
    display: none;
}
