.resources-section {
    padding: 5rem 4rem;
}

.resource__frame {
    width: 20rem;
    height: 20rem;
    flex-direction: column;
    margin: 0 0 2rem 0;
}

.resource__description {
    font-family: Montserrat, sans-serif;
    font-size: var(--font-lg-plus);
    font-weight: 700;
    color: #000000B3;
}
