<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../styles/_globals.css">
</head>
<body>
<header>
    <div class="flex-jc-sb-ai-c">
        <div class="logo">
            <a href="/">
                <img src="../assets/logo.png" alt="Eduk logo" height="50">
            </a>
        </div>

        <div class="flex-jc-sb-ai-c">
            <div class="header-btn"><a href="#">Funcionalidades</a></div>
            <div class="header-btn"><a href="#">Preços</a></div>
            <div class="header-btn login-btn"><a href="#">Login</a></div>
        </div>
    </div>
</header>

<section>
    <div style="background-color: var(--light-grey); height: 100vh">dsada</div>
</section>

<footer></footer>
</body>
</html>