<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EduK</title>

    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@500&family=Rubik:wght@500&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="../styles/_globals.css">
</head>
<body class="main-container">
<header>
    <div class="flex-jc-sb-ai-c">
        <div class="flex-ai-c logo">
            <a href="#" class="flex">
                <img src="../assets/logo.svg" alt="Logo Eduk" width="160">
            </a>
        </div>

        <div class="flex-jc-sb-ai-c">
            <div class="header-btn"><a href="#">home</a></div>
            <div class="header-btn"><a href="#">home</a></div>
            <div class="header-btn"><a href="#">home</a></div>
        </div>
    </div>
</header>

<section class="body">
    <div class="hero flex-jc-sb">
        <div class="hero__image">
<!--            <img src="../assets/hero.svg">-->
        </div>
        <div class="hero__text">
            texto
        </div>
        dsadhsaui
    </div>
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
</section>

<footer></footer>
</body>
</html>