<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eduk</title>

    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@500&family=Rubik:wght@500&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../styles/_globals.css">
</head>
<body class="main-container">


<!--    START HEADER SECTION-->
<header>
    <div class="flex-jc-sb-ai-c">
        <div class="flex-ai-c">
            <a href="#" class="logo flex">
                <img src="../assets/logo.svg" alt="Logo Eduk" width="160">
            </a>
        </div>

        <div class="flex-jc-sb-ai-c">
            <div class="header-btn scroll-btn"><a href="#">Home</a></div>
            <div class="header-btn scroll-btn"><a href="#">Benefícios</a></div>
            <div class="header-btn scroll-btn"><a href="#">Funcionalidades</a></div>
            <div class="header-btn scroll-btn"><a href="#">Contato</a></div>
            <div class="header-btn login-btn"><a href="#">Acesso</a></div>
        </div>
    </div>
</header>
<!--    END HEADER SECTION-->


<div class="body">
    <div class="landing-page__container">
        <!--    START HERO SECTION-->
        <section class="hero-section">
            <div class="hero flex-jc-sb">
                <div class="hero__image">
                    <!--            <img src="../assets/hero.svg">-->
                </div>
                <div class="hero__text">
                    texto
                </div>
                dsadhsaui
            </div>
        </section>
        <!--    START HERO SECTION-->


        <!--    START BENEFITS SECTION-->
        <section class="benefits-section">
            <div class="benefit flex-jc-sb-ai-c">
                <div class="benefit__text">
                    <span class="benefit__text--title">Transforme sua gestão educacional com facilidade</span>
                    <p class="benefit__text--content">
                        Nosso sistema oferece uma solução completa e amigável para administrar todos os aspectos da sua
                        instituição de ensino, desde a matrícula dos alunos até o controle financeiro, de forma
                        intuitiva e
                        eficaz.
                    </p>
                </div>
                <div class="benefit__image benefit__image-1 margin-left"></div>
            </div>

            <div class="benefit flex-jc-sb-ai-c">
                <div class="benefit__image benefit__image-2"></div>
                <div class="benefit__text">
                    <span class="benefit__text--title">Inovação e eficiência para sua escola</span>
                    <p class="benefit__text--content">
                        Descubra como nossa plataforma moderna e eficiente pode otimizar a rotina da sua escola,
                        proporcionando uma administração mais ágil, comunicação aprimorada e processos automatizados.
                    </p>
                </div>
            </div>

            <div class="benefit flex-jc-sb-ai-c">
                <div class="benefit__text">
                    <span class="benefit__text--title">Gerencie sua escola de forma inteligente e descomplicada</span>
                    <p class="benefit__text--content">
                        Simplificamos a gestão escolar com ferramentas poderosas que permitem controlar matrículas,
                        notas,
                        presença e finanças em um só lugar, proporcionando mais tempo para o que realmente importa: a
                        educação.
                    </p>
                </div>
                <div class="benefit__image benefit__image-1 margin-left"></div>
            </div>
        </section>
        <!--    END BENEFITS SECTION-->


        <section class="resources-section">
            <div>

            </div>
        </section>

        <section>Depoimentos</section>


        <!--    START BENEFITS SECTION-->
        <section class="contact-section">
            <div class="title flex-jc-c-ai-c">
                <span>Entre em contato</span>
            </div>
            <div class="flex-jc-sa-ai-c">
                <div class="contact__card flex-jc-sb-ai-c">
                    <div class="contact__card--image flex-jc-sb-ai-c">
                        <span>✉️</span>
                    </div>
                    <div class="contact__card--title flex-jc-sb-ai-c">
                        <span>Email</span>
                    </div>
                    <div class="contact__card--description flex-jc-sb-ai-c">
                        <span>comercial@eduk.com.br</span>
                    </div>
                </div>
                <div class="contact__card flex-jc-sb-ai-c">
                    <div class="contact__card--image flex-jc-sb-ai-c">
                        <span>🏢</span>
                    </div>
                    <div class="contact__card--title flex-jc-sb-ai-c">
                        <span>Endereço</span>
                    </div>
                    <div class="contact__card--description flex-jc-sb-ai-c">
                        <span>Rua Fictícia, 132 - Curitiba - Paraná</span>
                    </div>
                </div>
                <div class="contact__card flex-jc-sb-ai-c">
                    <div class="contact__card--image flex-jc-sb-ai-c">
                        <span>📱</span>
                    </div>
                    <div class="contact__card--title flex-jc-sb-ai-c">
                        <span>Celular</span>
                    </div>
                    <div class="contact__card--description flex-jc-sb-ai-c">
                        <span>(41) 99999-9999</span>
                    </div>
                </div>
            </div>
        </section>
        <!--    END BENEFITS SECTION-->
    </div>
</div>


<!--    START FOOTER SECTION-->
<footer class="flex-jc-sb-ai-c">
    <p>All rights reserved™</p>
    <div class="flex-ai-c social-media">
        <a href="https://www.facebook.com">Facebook</a>
        <a href="https://www.instagram.com">Instagram</a>
    </div>
</footer>
<!--    END FOOTER SECTION-->
</body>
</html>