@import '_variables.css';
@import '_header.css';
@import 'landing-page/_landing-page-main.css';
@import 'landing-page/_hero.css';
@import 'landing-page/_benefits.css';
@import 'landing-page/_resourses.css';
@import 'landing-page/_testimonials.css';
@import 'landing-page/_contact.css';
@import '_footer.css';

*, html {
    padding: 0;
    margin: 0;
    outline: none;
}

.flex {
    display: flex;
}

.flex-jc-c {
    display: flex;
    justify-content: center;
}

.flex-ai-c {
    display: flex;
    align-items: center;
}

.flex-jc-c-ai-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-jc-sb-ai-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-jc-sa-ai-c {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

