@import '_variables.css';
@import '_header.css';
@import 'landing-page/_hero.css';
@import 'landing-page/_benefits.css';
@import 'landing-page/_resourses.css';
@import 'landing-page/_contact.css';
@import '_footer.css';

*, html {
    padding: 0;
    margin: 0;
    outline: none;
    /*scroll-behavior: smooth; */
}

.main-container {
    background: linear-gradient(#F5F7F6 -35%, #3525D5 195%); /* FIXME */
}

.landing-page__container {
    padding: 0 12rem;
}

.flex {
    display: flex;
}

.flex-jc-c {
    display: flex;
    justify-content: center;
}

.flex-ai-c {
    display: flex;
    align-items: center;
}

.flex-jc-c-ai-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-jc-sb-ai-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-jc-sa-ai-c {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

